h2,
h3 {
  padding: 6px;
}
p,
li {
  font-size: 17px;
  line-height: 30px;
}
.articleContainerProfessional {
  width: auto;
  height: 300px;
  margin-top: 4px;
  h2 {
    border: 1px solid $thirty-color;
    width: 250px;
    text-align: center;
  }
  li,
  p {
    font-size: 15px;
    text-align: center;
    list-style: none;
  }
}
.informationProfile {
  width: auto;
  height: 220px;
  margin-top: 4%;

  .profile {
    width: 370px;
    height: 40px;
    text-align: justify;
    line-height: 30px;
    position: relative;
    top: -12%;
    left: 25px;
  }

  #foto {
    position: relative;
    top: -33%;
    left: 40%;
    width: 240px;
    height: 240px;
    border-radius: 50%;
  }

  .contactInformation {
    position: absolute;
    top: 32%;
    left: 66%;
    width: 200px;
    img {
      width: 35px;
      height: 35px;
      position: relative;
      left: 105%;
      top: 50%;
      transform: translateY(-90%);
    }
  }
}

.education {
  h2 {
    position: relative;
    left: 10%;
    transform: translateX(-20%);
    background-color: $bg;
  }
  ul {
    position: relative;
    left: -7%;
    li {
      p {
        padding: 0;
        margin: 0;
      }
    }
  }
  position: absolute;
  left: 17%;
  top: 70.5%;
}
.skills {
  h2 {
    background-color: $secondary-color;
    position: relative;
    left: 30%;
    transform: translateX(-50%);
  }
  ul {
    position: relative;
    left: -17%;
    li {
      line-height: 40px;
    }
  }
  position: absolute;
  width: 190px;
  left: 47%;
  top: 70%;
}
.expertise {
  background-color: $bg;
  position: absolute;
  width: 290px;
  left: 67%;
  top: 70%;
  ul {
    position: relative;
    left: -8%;
  }
  li {
    font-size: 14px;
    line-height: 35px;
  }
}
.line {
  width: 950px;
  height: 5px;
  position: absolute;
  background-color: $thirty-color;
  top: 73%;
  left: 20%;
}
.line2 {
  width: 1015px;
  height: 5px;
  position: absolute;
  background-color: $thirty-color;
  top: 112.5%;
  left: 16%;
}
.experience {
  margin-top: 40px;
  li {
    position: relative;
    left: 2%;
  }
  .experience1 {
    height: 200px;
    position: relative;
    left: 25px;
  }
  .experience2 {
    height: 200px;
    position: relative;
    left: 25px;
  }
  h2 {
    background-color: $secondary-color;
    width: 250px;
    text-align: center;
    border: 1px solid $thirty-color;
    position: relative;
    margin-bottom: 15px;
    left: 50%;
    transform: translateX(-45%);
  }
  h3 {
    font-size: 26px;
    letter-spacing: 5px;
  }
  .informationCompany {
    position: relative;
    left: 75%;
    top: 60%;
    border-radius: 20% 0 20% 0;
    transform: translateY(-190%);
    width: 167px;
    height: 140px;
    border: 1px solid $thirty-color;
    text-align: center;
    padding: 15px 20px;
    background-color: $primary-color;
    color: $secondary-color-header;
  }
}
